<!-- BEGIN HEADER -->
<div class="header">
    <div class="container">
        <a class="site-logo" href='{{"/index.html" | prepend: site.baseurl}}'><img src='{{"/assets/frontend/layout/img/logos/rock-logo.png" | prepend: site.baseurl}}' alt="Rock Robotics"></a>

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation pull-right font-transform-inherit">
            <ul>
                <li>
                    <a href='documentation/introduction/2014-01-07-installation.html'>
                        Installation
                    </a>
                </li>
                <li class="dropdown dropdown-megamenu">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                        Documentation
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="header-navigation-content">
                                <div class="row">
                                    <div class="col-md-4 header-navigation-col">
                                        <h4>Intro</h4>
                                        <ul>
                                            <li><a href='documentation/introduction/2014-01-01-overview.html'>Overview</a></li>
                                            <li><a href='documentation/introduction/2014-01-03-about_rock.html'>About Rock</a></li>
                                            <li><a href='documentation/introduction/2014-01-07-installation.html'>Installation</a></li>
                                            <li><a href='documentation/introduction/2014-01-08-managing_packages.html'>Managing Packages</a></li>
                                            <li><a href='documentation/introduction/2014-01-05-contributing.html'>Contributing</a></li>
                                            <li><a href='documentation/introduction/2014-01-07-installation.html'>Packages API</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 header-navigation-col">
                                        <h4>Tutorials</h4>
                                        <ul>
                                            <li><a href='documentation/introduction/2014-01-01-overview.html'>Basics</a></li>
                                            <li><a href="index.html">Advanced</a></li>
                                            <li><a href="index.html">System Management</a></li>
                                        </ul>

                                        <h4>Additional Core Functionality</h4>
                                        <ul>
                                            <li><a href="index.html">Data Processing</a></li>
                                            <li><a href="index.html">Device Drivers</a></li>
                                            <li><a href="index.html">Envire</a></li>
                                            <li><a href="index.html">Debugging Techniques</a></li>
                                            <li><a href="index.html">ROS/Rock bridge</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 header-navigation-col">
                                        <h4>Core</h4>
                                        <ul>
                                            <li><a href="index.html">Base Types</a></li>
                                            <li><a href="index.html">Build System</a></li>
                                            <li><a href="index.html">Developing Components</a></li>
                                            <li><a href="index.html">Running Components</a></li>
                                            <li><a href="index.html">System Management</a></li>
                                            <li><a href="index.html">Data Analysis</a></li>
                                            <li><a href="index.html">Graphical User Interface</a></li>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                        Browse Packages
                    </a>

                    <ul class="dropdown-menu">
                        <li><a href="page-about.html">Package Directory</a></li>
                        <li><a href="page-services.html">Packages</a></li>
                        <li><a href="page-prices.html">oroGen tasks</a></li>
                        <li><a href="page-faq.html">oroGen types</a></li>
                        <li><a href="page-gallery.html">Package Sets</a></li>
                        <li><a href="page-search-result.html">OS Dependencies</a></li>
                    </ul>
                </li>
                <li>
                    <a data-target="#" href='documentation/introduction/2014-01-05-contributing.html'>
                        Community
                    </a>
                </li>
                <li>
                    <a data-target="#" href="http://rock.opendfki.de/newticket">
                        New Ticket
                    </a>
                </li>
            </ul>
        </div>
        <!-- END NAVIGATION -->
    </div>
</div>
<!-- Header END -->
