<!-- BEGIN SIDEBAR -->
<div class="sidebar col-md-3 col-sm-3">

    <div class="col-md col-sm">
        <h2>Introduction</h2>
        <ul class="list-unstyled">
            <li><i class="fa fa-angle-right"></i> <a href="documentation/introduction/2014-01-01-overview.html" {% if page.url == "/introduction/overview.html" %} class="active "{% endif %} >Overview</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="documentation/introduction/2014-01-03-about_rock.html">About Rock</a>
                <ul class="list-unstyled">
                {% for post in site.posts %}
                    {% if post.group == "aboutRock" %}
                    <li><i class="fa fa-angle-right"></i> <a href="{{post.url}}" {% if page.url == post.url %} class="active" {% endif %}>{{post.title}}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
            <li><i class="fa fa-angle-right"></i> <a href="documentation/introduction/2014-01-07-installation.html" {% if page.url == "/introduction/installation.html" %} class="active "{% endif %}>Installation</a></li>
            <li><i class="fa fa-angle-right"></i> <a href="documentation/introduction/2014-01-08-managing_packages.html">Managing Packages</a>
                <ul class="list-unstyled">
                    {% for post in site.posts %}
                    {% if post.group == "managingPackages" %}
                    <li><i class="fa fa-angle-right"></i> <a href="{{post.url}}" {% if page.url == post.url %} class="active" {% endif %}>{{post.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li><i class="fa fa-angle-right"></i> <a href="documentation/introduction/2014-01-12-contributing2.html">Contributing</a>
                <ul class="list-unstyled">
                    {% for post in site.posts %}
                    {% if post.group == "contributing" %}
                    <li><i class="fa fa-angle-right"></i> <a href="{{post.url}}" {% if page.url == post.url %} class="active "{% endif %}>{{post.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- END SIDEBAR -->
